checkpoints/
data/
demo/
docker/
Experiments/
fish_work_dir/
GLIP/
hf_models/
images/
outputs/
projects/
work_dirs/
workdirs/
yolov3-empty/
yolov3-mmgea/
yolov3-mmgea+flip/
yolov3-randomflip/
*.pth
.vscode/